.group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.outline {
    margin: 0.5rem 0 1.5rem 0;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.02);

    & .group-data {
      padding: 1rem 1rem 0.5rem 1rem;
    }
  }

  & .title {
    position: absolute;
    padding: 0 1rem;
    top: -0.8rem;
    width: 100%;
    display: flex;

    & .text {
      padding: 0 0.5rem;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.3);
      background-color: white;
      border-radius: 2rem;
    }

    &.left {
      justify-content: flex-start;
    }
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
    &.none {
      display: none;
    }
  }

  & .group-data {
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}

@media (min-width: $min-width) {
  @for $i from 1 through 10 {
    .group-data .inputnator:first-child:nth-last-child(#{$i}),
    .group-data .inputnator:first-child:nth-last-child(#{$i}) ~ .inputnator {
      width: calc(100% / #{$i} - 0.5rem);
    }
  }
}

@media (max-width: $min-width) {
  .group {
    & .group-data {
      flex-direction: column;
    }
  }
}
